.sessions {
  margin-left: 24px;
}

.sessions_day {
  margin-bottom: 22px;
  font-size: 20px;
  line-height: 23.44px;
  color: #293845;
}

.sessions_time {
  width: 82px;
  height: 43px;
  margin-bottom: 22px;

  background-color: #e8833a;
  font-size: 18px;
  line-height: 21.09px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer {
  background-color: #dfe6ed;
  width: 100vw;
  max-width: 614px;
  height: 117px;
  margin: 0 auto;
  border: 1px solid #9eadba;

  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;

  z-index: 1;
}

.chosed_movie {
  width: 64px;
  height: 89px;
  background-color: #fff;
  margin-left: 18px;
  margin-right: 21px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: flex;
  justify-content: center;
}

.chosed_movie img {
  width: 56px;
  height: 72px;
  object-fit: cover;
  margin: 8px;
}

.chosed_movie h1 {
  font-size: 26px;
  line-height: 31px;
  color: #293845;
}
