.sucess_title {
  width: 300px;
  height: 110px;
  margin: 0 auto;
  margin-top: 100px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #247a6b;

  display: flex;
  text-align: center;
  justify-content: center;
  gap: 20px;
}

.info {
  font-weight: 700;
  justify-content: flex-start;
  margin-left: 29px;
  margin-top: 0px;
  align-items: flex-start;
  flex-direction: column;
}

.sucess_details {
  font-weight: 400;
  font-size: 22px;
  line-height: 25.78px;
  margin-top: 10px;
}
