@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;
}

.root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
  overflow-y: scroll;
}
