.header {
  height: 67px;
  width: 100vw;
  max-width: 614px;
  background-color: #c3cfd9;

  position: fixed;
  top: 0;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  color: #e8833a;
  font-size: 34px;
  line-height: 39.84px;
}
